@charset "UTF-8";
/*
 * #2017-11-06
 * 날마다 가게 Layout
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	font:inherit;
	border:0;
	vertical-align:baseline;
	box-sizing:border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
}
html {
	-webkit-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:transparent;
	outline:none;
}
body {
	font-weight:300;
	text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
input,
button,
select,
textarea { 
	font:inherit; 
	border:none;
	box-sizing:border-box;
	appearance:none;
	-webkit-appearance:none;
	outline:none; 
	background:none;
}
textarea {
	resize:none;
}
input,
button { border:none; background:none; }
a {
	color:inherit;
	text-decoration:none;
}
img {
	border:0;
	vertical-align:top;
}
html, body, #wrap {
	height:100%;
}

input[type="checkbox"],
input[type="checkbox"]:checked { margin:0; padding:0; width:18px; height:18px; background:url(../../images/commerce/common/ico_input.png) no-repeat 0 0; background-size:18px 18px; }
input[type="checkbox"]:checked { background-image:url(../../images/commerce/common/ico_check_active.png); }
input[type="radio"],
input[type="radio"]:checked { margin:0; padding:0; width:18px; height:18px; background:url(../../images/commerce/common/ico_input.png) no-repeat 0 0; background-size:18px 18px; }
input[type="radio"]:checked { background-image:url(../../images/commerce/common/ico_radio_active.png); }
.select_bx { position:relative; padding:0 15px 0 0; border-radius:4px; background:#fff; overflow:hidden;}
.select_bx > select.list { width:100%; height:39px; font-size:0.875em; line-height:39px; background:url(../../images/commerce/common/ico_arrowb_b3.png) right 50% no-repeat; background-size:6px 4px; }

/* 기존 Reset */
.mximg{width:100%;max-width:100%;height:auto}
.bg1{background:#f8f8f8}
.bg2{background:#f2f2f2}
.bg3{background:#000}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}

/* Dimmed 콘텐츠 */
.dimmed { display:none; position:fixed; left:0; right:0; top:0; bottom:0; z-index:1000; }
.dimmed.__80 { background-color:rgba(0,0,0,.8); }
.dimmed.__90 { background-color:rgba(0,0,0,.9); }
.dimmed.__100 { background-color:rgba(0,0,0,1); }

.btn_close, 
.btn_close2 { position:absolute; right:0; top:0; display:block; width:60px; height:56px; background-position:12px 10px; background-repeat:no-repeat; background-size:36px 36px; overflow:hidden; }
.btn_close { background-image:url(../../images/commerce/common/btn_lpop_close1.png); }
.btn_close2 { background-image:url(../../images/commerce/common/btn_lpop_close2.png); }

/* GNB 재정의 */
#header { position:fixed; left:0; right:0; top:0; padding:0 0 0 90px; background-color:rgba(255,255,255,0.9); z-index:1; } 
.bg1 #header,
.bg2 #header { background-color:transparent; }
#header .lpoint { display:inline-block; width:62px; height:56px; vertical-align:top; background:url(../../images/common/top_logo.png) no-repeat 0 50%; background-size:62px 12px; text-indent:-9999em; overflow:hidden; }
#header .line{ display:inline-block; margin:0 13px; width:1px; height:56px; vertical-align:top; background:url(../../images/common/img_top_line.png) no-repeat 50% 50%; background-size:1px 15px;text-indent:-9999em}
#header .btn_appdown{ display:inline-block; width:42px; height:56px; vertical-align:top; background:url(../../images/common/btn_appdown.png) no-repeat 0% 50%; background-size:42px 15px;text-indent:-9999em; overflow:hidden; }
#panel .dim100{ display:none; position:fixed; left:0; right:0; top:0; bottom:0; z-index:150; background-color:rgba(0,0,0,.9); }
#panel .mnshow { margin-right:0; }
#header .menu { position:absolute; right:12px; top:10px; display:block; width:36px; height:36px; background:url(../../images/common/btn_top_menu.png) no-repeat 50% 50%; background-size:36px 36px;text-indent:-9999em; overflow:hidden;}
body.is-bg { background-color:#009bfa; }
body.is-bg:before {
	content:"";
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	background-image:linear-gradient(333deg, #d4004a 0%, #009bfa 70%);
	background-size:cover;
	z-index:-1;
}
body.pinning #header { position:fixed; left:0; top:0; width:100%; background-color:rgba(255,255,255,0.9); z-index:100; }
body.pinning #header {
	transform:translateY(0);
	-webkit-transform:translateY(0);
	transition:transform 0.5s, visibility 0s 0.5s;	
	-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;
}
body.pinning.hidden #header {
	transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	transition:transform 0.5s, visibility 0s 0.5s;
	-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;
}
body.pinning.hidden #bottom,
body.pinning.hidden #bottom1 { 
	transform:translateY(100px);
	-webkit-transform:translateY(100px);
	transition:transform 0.5s, visibility 0s 0.5s
	-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;
}
body.is-bg #header { background-color:transparent; }
body.is-bg #header .lpoint{ background-image:url(../../images/commerce/common/top_logo.png); }
body.is-bg #header .btn_appdown{ background-image:url(../../images/commerce/common/btn_appdown.png); }
body.is-bg #header .line{ background-image:url(../../images/commerce/common/img_top_line.png); }
body.is-bg #header .menu { background-image:url(../../images/commerce/common/btn_top_menu.png); }
body.is-bg.pinning #header { background-color:rgba(255,255,255,.9); }
body.is-bg.pinning #header .lpoint{ background-image:url(../../images/common/top_logo.png); }
body.is-bg.pinning #header .btn_appdown{ background-image:url(../../images/common/btn_appdown.png); }
body.is-bg.pinning #header .line{ background-image:url(../../images/common/img_top_line.png); }
body.is-bg.pinning #header .menu { background-image:url(../../images/common/btn_top_menu.png); }
body.menu_active .lang-container,
body.menu_active .lang-container + #wrap #header { 
	top:0;
	transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	transition:transform 0.5s, visibility 0s 0.5s;
	-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;
}
#panel .panel_bx.mnshow ~ .panel_header { display:none; }
#panel .panel_bx.mnshow { margin-right:0; }
#panel .panel_bx{overflow:hidden;position:fixed;top:0;right:0;z-index:1001;width:290px;height:100%;margin-right:-290px;background:#fff url(../../images/menu/bg_menu.png) 0 0 repeat-x;background-size:1px 4px;transition:.3s}
#panel .panel_bx h2{margin:25px 20px 25px 30px}
#panel .panel_bx h2 .lpoint{display:block;width:85px;height:16px;background:url(../../images/menu/img_logo.png) no-repeat;background-size:85px 16px;text-indent:-9999em}
#panel .panel_bx .btn_search{display:block;position:absolute;right:20px;top:15px;z-index:10;width:36px;height:36px;background:url(../../images/common/ico_search.png) no-repeat 50% 50%;background-size:36px 36px;text-indent:-9999em}
#panel .panel_bx .q_mn{overflow:hidden;padding:7px 0 14px 0;border-bottom:1px solid #f2f2f2}
#panel .panel_bx .q_mn ul{overflow:hidden}
#panel .panel_bx .q_mn ul li{float:left;width:70px;margin:0 0 11px 6.8%}
#panel .panel_bx .q_mn ul li:nth-child(4){clear:both}
#panel .panel_bx .q_mn ul li a{display:block; padding-top:59px;font-size:0.875em;font-weight:normal;color:#000;text-align:center;letter-spacing:-0.5px}
#panel .panel_bx .q_mn ul li .mn01{background:url(../../images/menu/ico_myl.png) 50% 0 no-repeat;background-size:50px 50px}
#panel .panel_bx .q_mn ul li .mn02{background:url(../../images/menu/ico_donation.png) 50% 0 no-repeat;background-size:50px 50px}
#panel .panel_bx .q_mn ul li .mn03{background:url(../../images/menu/ico_partner.png) 50% 0 no-repeat;background-size:50px 50px}
#panel .panel_bx .q_mn ul li .mn04{background:url(../../images/menu/ico_bicpleasure.png) 50% 0 no-repeat;background-size:50px 50px}
#panel .panel_bx .q_mn ul li .mn05{background:url(../../images/menu/ico_event.png) 50% 0 no-repeat;background-size:50px 50px}
#panel .panel_bx .q_mn ul li .mn06{background:url(../../images/menu/ico_story.png) 50% 0 no-repeat;background-size:50px 50px}
#panel .panel_bx .l_mn{padding:23px 20px 25px 30px}
#panel .panel_bx .l_mn ul{overflow:hidden;margin:0 0 -13px 0}
#panel .panel_bx .l_mn ul li{margin-bottom:13px}
#panel .panel_bx .l_mn ul li a{display:block;font-size:1.00em;color:#000;line-height:1.250em}
#panel .panel_bx .b_mn{position:absolute;right:0;bottom:0;z-index:160;width:290px;height:80px;padding-top:31px;background:url(../../images/menu/bg_menu_shadow.png) 0 0 repeat-x;background-size:1px 80px}
#panel .panel_bx .b_mn ul{overflow:hidden;margin:0 -44px 0 30px}
#panel .panel_bx .b_mn ul li{float:left;margin-right:44px}
#panel .panel_bx .b_mn ul li a{display:block;height:50px;padding-left:21px;font-size:0.875em;font-weight:normal;color:#000;line-height:50px;text-align:center}
#panel .panel_bx .b_mn ul li .mn01{background:url(../../images/menu/ico_save.png) 0 50% no-repeat;background-size:18px 18px}
#panel .panel_bx .b_mn ul li .mn02{background:url(../../images/menu/ico_change.png) 0 50% no-repeat;background-size:18px 18px}
#panel .panel_bx .b_mn ul li .mn03{background:url(../../images/menu/ico_charge.png) 0 50% no-repeat;background-size:18px 18px}

#wrap { padding:50px 0 0; }

/* 기존 m.lpoint.com 하단 버튼 영역 */
#bottom { position:fixed; left:0; right:0; bottom:0; width:100%; z-index:200; }
#bottom .bg_bx{overflow:hidden;width:100%;height:60px;border-top:1px solid #f2f2f2;background:#fff;box-shadow:0 -10px 20px rgba(247,247,247,.5); }

#bottom .bg_bx button{overflow:hidden;float:left;width:50%;height:60px;vertical-align:middle;font-size:1em;font-weight:normal;color:#000;text-align:center}
#bottom .bg_bx button span{opacity:.3}
#bottom .bg_bx .on.active{background:#f2f2f2 !important}
#bottom .bg_bx .on span{opacity:1 !important}
#bottom .bg_bx .btm_one{display:block;float:none;width:100%;background:#fff}
#bottom .bg_bx .btm_two:first-child + .btm_two { position:relative; }
#bottom .bg_bx .btm_two:first-child + .btm_two:before { content:''; position:absolute; left:0; top:50%; margin:-10px 0 0; width:1px; height:20px; background-color:#f2f2f2; overflow:hidden; }

/* 날마다가게 하단 버튼 영역 */
#bottom1 { position:fixed; left:0; right:0; bottom:0; width:100%; z-index:200; }
#bottom1 .bg_bx { overflow:hidden;width:100%;height:60px;border-top:1px solid #f2f2f2;background:#fff;box-shadow:0 -10px 20px rgba(247,247,247,.5); }
#bottom.fixed,
#bottom1.fixed { transform:none !important; }

iframe#mainFrame { vertical-align:top; border:0; }